<launch>
    <node pkg="input" type="cameraSpooferNODE.py" 			name="cameraSpooferNODE"  				output="screen"/>
    <node pkg="perception" type="perceptionNODE.py" 	name="perceptionNODE"  		output="screen"/>
    <node pkg="action" type="pedestrianNODE.py" 	name="pedestrianNODE"  		output="screen"/>
</launch>
