<launch>    
    <node pkg="perception" type="perceptionNODE.py" 	name="perceptionNODE"  		output="screen" />
    <!-- <node pkg="perception" type="testPerceptionNODE.py" name="testPerceptionNODE"   output="screen"/>   -->
    <node pkg="input" type="cameraSpooferNODE.py" name="cameraSpooferNODE"   output="screen"/>
</launch>
