<launch>
    <node pkg="input"   type = "cameraSpooferNODE.py"   name="cameraSpooferNODE"              output="screen"/>
    <node pkg="perception" type="perceptionNODE.py" 	name="perceptionNODE"  		output="screen" />  
    <node pkg="action" type="actionNODE.py" 	name="actionNODE"  		output="screen" cwd="node"/>
</launch>
