<launch>
    <node pkg="input"   type = "cameraNODE.py"   name="cameraNODE"              output="screen"/>
    <node pkg="perception" type="perceptionNODE.py" 	name="perceptionNODE"  		output="screen" />  
    <node pkg="action" type="actionNODE.py" 	name="actionNODE"  		output="screen" cwd="node"/>
    <node pkg="output" type="serialNODE.py" 	name="serialNODE"  		output="screen" cwd="node"/>
</launch>
